PORT=5000
NODE_ENV=development

DATABASE_URL=postgresql://ronyortiz:@localhost:5432/ecommerce26?schema=public
BETTER_AUTH_SECRET=Z4T3QzeEGCuFPnLS2PgggizqfCiz5pae

FRONTEND_URL=http://localhost:5173
BETTER_AUTH_URL=http://localhost:5173